In [1]:
import sqlite3
conexion=sqlite3.connect('Hospital.db')
cur = conexion.cursor()
cur.execute("""CREATE TABLE IF NOT EXISTS Pacientes (
                        id integer primary key autoincrement,
                        Numero_SS integer,
                        Nombre text,
                        Apellido1 text,
                        Apellido2 text,
                        Domicilio text,
                        Poblacion text,
                        CP integer,
                        N_tlf integer,
                        id_N_historial_clinico integer,
                        observaciones text
                        )""")
cur.execute("""CREATE TABLE IF NOT EXISTS Ingresos (
                        id integer primary key autoincrement,
                        id_N_historial_clinico integer,
                        Procedencia text,
                        Fecha_ingreso integer,
                        Codigo_medico integer,
                        Numero_planta integer,
                        Numero_cama integer,
                        Observaciones text
                        )""")
cur.execute("""CREATE TABLE IF NOT EXISTS Medicos (
                        id integer primary key autoincrement,
                        id_Codigo_medico integer,
                        Nombre text,
                        Apellido1 text,
                        Apellido2 text,
                        Nombre_especialidad integer,
                        Numero_colegiado integer,
                        Cargo text,
                        Observaciones text
                        )""")

    

conexion.commit()

import pandas as pd
df_data= pd.read_csv('Hospital.csv',skiprows=1,sep=";", encoding='iso8859')
df_data2= pd.read_csv('Hospital2.csv',skiprows=1,sep=";", encoding='iso8859')
df_data3= pd.read_csv('Hospital3.csv',skiprows=1,sep=";", encoding='iso8859')
pacientes = df_data.values
pacientes
ingresos = df_data2.values
ingresos
medicos = df_data3.values
medicos
for paciente in pacientes:
    cur.execute(""" INSERT INTO Pacientes ( Numero_SS,
Nombre, Apellido1,Apellido2,Domicilio,Poblacion ,CP,N_tlf,id_N_historial_clinico,observaciones) VALUES (?,?,?,?,?,?,?,?,?,?)""",(paciente))
    
for ingreso in ingresos:
    cur.execute(""" INSERT INTO Ingresos ( id_N_historial_clinico,
Procedencia, Fecha_ingreso,Codigo_medico,Numero_planta,Numero_cama,observaciones) VALUES (?,?,?,?,?,?,?)""",(ingreso))
    
for medico in medicos:
    cur.execute(""" INSERT INTO Medicos ( id_Codigo_medico,
Nombre, Apellido1,Apellido2,Nombre_especialidad,Numero_colegiado,Cargo,observaciones) VALUES (?,?,?,?,?,?,?,?)""",(medico))
    
conexion.commit()

In [2]:
listar_valores = cur.execute("""
                SELECT i.fecha_ingeros, p.nombre, p.apellido1 FROM Pacientes p, Ingerosos i
                 WHERE id.id_Pacientes=p.N_historial_clinico""")
data = cur.fetchall()

for row in data:
    print(row)
##print (data[0])

OperationalError: no such table: Ingerosos

In [ ]:
listar_valores = cur.execute("""
                SELECT p.nombre, m.nombre, i.fecha_ingreso FROM pacientes p, medicos m, ingresos i
                WHERE p.n_historial_clinico =i.num_historial_clinico AND m.cod_id=i.cod_id_medico""")
data = cur.fetchall()

for row in data:
    print(row)
conexion.close()

ProgrammingError: Cannot operate on a closed database.